# CI for Product Catalog Service

name: product-catalog-ci

on:
  pull_request:
    branches: 
    -  main 

jobs:
    build:
        runs-on: ubuntu-latest
        
        steps:
        - name: Checkout code
          uses: actions/checkout@v4


        - name: Setup Go 1.22
          uses: actions/setup-go@v2
          with:
            go-version: 1.22

        - name: Build
          run: |
              cd src/product-catalog
              go mod download
              go build -o product-catalog-service main.go
              
        - name: Unit-test
          run: |
              cd src/product-catalog  
              go test ./...
              
    code-quality:
        runs-on: ubuntu-latest
        
        steps:
        - name: Checkout code
          uses: actions/checkout@v4


        - name: Setup Go 1.22
          uses: actions/setup-go@v2
          with:
            go-version: 1.22

        - name: Run golangci-lint  
          uses: golangci/golangci-lint-action@v6
          with:
            version: v1.55.2
            run: golangci-lint run
            working-directory: src/product-catalog     
            
    docker:  
        runs-on: ubuntu-latest

        needs: build
        
        steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Install Docker
          uses: docker/setup-buildx-action@v2
          
        - name: Login to Docker
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_TOKEN }}  

        - name: Docker Push
          uses: docker/build-push-action@v6
          with:
            context: ./src/product-catalog
            file: ./src/product-catalog/Dockerfile
            push: true
            tags: ${{ secrets.DOCKER_USERNAME }}/product-catalog-service:${{github.run_id}}

    updatek8s:
        runs-on: ubuntu-latest

        needs: docker
        
        steps:
        - name: Checkout code
          uses: actions/checkout@v4
          with:
            token: ${{ secrets.TOKEN }}
            
        - name: Update tag in kubernetes deployment manifest
          run: |
              sed -i "s|image: .*|image: ${{ secrets.DOCKER_USERNAME }}/product-catalog-service:${{github.run_id}}|" ./kubernetes/manifests/productcatalog/deploy.yaml  

        - name: Commit and push changes
          run: |
              git config --global user.name "Manik Singhal"
              git config --global user.email "manik.singhal.dev@gmail.com"      
              git add ./kubernetes/manifests/productcatalog/deploy.yaml
              git commit -m "Update product-catalog-service image tag to ${{ secrets.DOCKER_USERNAME }}/product-catalog-service:${{github.run_id}}"
              git push origin HEAD:main -f 
# NOTE:
# Force-push is used here only for demo purposes.
# In a real production setup, this would be replaced by:
# - PR-based manifest updates, or
# - GitOps tools like ArgoCD or Flux

        
        
          


        
